@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-family: 'Quicksand', sans-serif;

.v-application {
    [class*='text-'] {
        font-family: $font-family, sans-serif !important;
    }

    font-family: $font-family, sans-serif !important;
}
